<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Techblog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    </head>
  <body>
<nav>
      <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a class="active" href="/dashboard">Dashboard</a></li>
        <li><a class="active" href="/login">Login</a></li>
        {{#if logged_in}}
        <li class="logout"><a href="#" class="active">Logout</a></li>
        {{/if}}
      </ul>
    </nav>
  
    {{{body}}}

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/main.js"></script>
  </body>
</html>