<div class="">


{{#each posts as |post|}}

<div class="">
  <div class="">
    <h5 class="">{{post.post_title}}</h5>
    <p>Poster: {{user.username}}</p>
    <p class="">{{post.post_content}}</p>
    <a href="/home/{{id}}">See Comments</a>
  </div>
</div>

{{/each}}