<div class="">


{{#each posts as |post|}}

<div class="">
  <div class="">
    <h5 class="">{{post.title}}</h5>
    <p>Poster: {{user.username}}</p>
    <p class="">{{post.body}}</p>
    <a href="/{{id}}">See Comments</a>
  </div>
</div>

{{/each}}