<div class="">
  <h3>Your post: </h3>

  <div class="">
    <div class="">
      <label for="name-post">Post:</label>
      <textarea class="" type="text" id="update-title">{{post.title}}</textarea>
    </div>
    <div class="">
      <label for="post-content">Content:</label>
      <textarea class="" type="text" id="update-body">{{post.body}}</textarea>
    </div>
    <div class="">
      <button id="update" data-update={{post.id}} class="btn btn-primary1">Submit Changes</button>
    </div>
  </div>

</div>


<script src="/js/update.js"></script>